spring:
  application:
    name: hello-spring-cloud-config
  cloud:
    config:
      label: master
      server:
        git:
          uri: https://github.com/EXRozwel/configs
          search-paths: test
          username:
          password:
  zipkin:
    base-url: http://localhost:9411          

server:
  port: 8888

eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/
      
   